.header{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    
    background-color: black;

    padding-inline: 15px;
    

    &__logo{
        &-link{
            display: flex;
            overflow: hidden;

            border-radius: 50%;
            height: 30px;
            width: 30px;
    
            text-decoration: none;
        }

        &-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__search{
        margin: 0;
        display: block;
        &-button{
            border-radius:5px;
            margin-left: 5px;
            text-transform: uppercase;

            background-color: green;
            border: green;
            color: black;

        &-reset{
                        border-radius:5px;
            margin-left: 5px;
            text-transform: uppercase;

            background-color: rgba(255, 0, 0, 0.526);
            border: rgba(255, 0, 0, 0.526);
            color: black;
        }
        }
    }
}
