.footerInfo{
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: space-between;
  padding-inline:20px;
  box-sizing: border-box;

    margin-top: auto;
    align-items: center;
    background-color: black;
    color: white;
}