.header {
  height: 40px;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: space-between;
  padding-inline:20px;
  box-sizing: border-box;
  background-color: #978585;

  @include on-tablet {
    height: 80px;
  }
  @include on-desktop {
    height: 120px;
  }

  &__logo a {
    display: flex;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    overflow: hidden;
    text-decoration: none;
  }

  &__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}