@import'./App/Styles/general_styles.scss';
@import './Utils/mixin.scss';
@import './App/Styles/header.scss';
@import './App/Styles/card.scss';
@import './App/Styles/footer.scss';
@import './App/Styles/car-deatail.scss';
@import'./App/Styles/HandleReview.scss';

html{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(236, 234, 234);
}